.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs :global(.ant-tabs-nav) {
  margin: 0;
  padding: 0 24px;
  background-color: transparent;
}

.tabs :global(.ant-tabs-content-holder) {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
