.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.tabs :global(.ant-tabs-nav) {
  margin-bottom: 12px;
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.chartContainer {
  width: 100%;
  height: 320px;
  background: rgba(255, 255, 255, 0.03);
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  border-radius: 12px;
  backdrop-filter: blur(10px);
}